//reset
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Coellack Rad';
    url:('~assets/fonts/CoellackRad.ttf') format('truetype'), /* Safari, Android, iOS */
}


// Variables

$font: 'Coellack Rad';
$gold: #91610D;
$link: $gold;
$hover: darken($gold, 10);
$base-font-size: 16px;
$black: #020202;

body {
  font-size: $base-font-size;
  color: $black;
}

#page {
  width: 90%;
  max-width: 960px;
  margin: auto;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  font-family: $font;
}

a:link, a:active, a:visited {
  color: $gold;
  text-decoration: none;
  &:hover {
    color: $gold;
  }
  h3 &:hover {
    &:hover {
      border-bottom: solid 2px $hover;
    }
  }
}

  header.globalheader {
    display: block;
    text-align: center;
    box-sizing: border-box;
    border-bottom: solid 2px #000;
    padding: 1rem 0 2rem;
    margin-bottom: 2rem;
  }

  footer.globalfooter {
    display: flex;
    text-align: center;
    box-sizing: border-box;
    border-top: solid 2px #000;
    padding: 2rem 0;
    margin-top: 2rem;
    justify-content: space-between;
    .studio-info {
      text-align: left;
    }
    .copyright {
      text-align: right;
    }
    @media screen and (max-width: 768px) {
      display: block;
      .studio-info, .copyright {
        text-align: left;
        margin: 1rem;
      }
    }
  }

 nav ul {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      max-width: 600px;
      margin: auto;
      li {
        font-size: 1.5rem;
        font-family: $font;
        text-transform: uppercase;
        box-sizing: border-box;
        border-bottom: solid 2px #fff;
        &:hover {
          border-bottom: solid 2px $hover;
        }
      }
    }